__pycache__/
*.pyc

# Local database
*.db

# Uploaded clothing images
src/static/uploads/

# Python virtual environment
.venv/

# Computer Vision test images
cv_test/*.jpg
cv_test/*.jpeg
cv_test/*.png
cv_test/*.webp

# Downloaded YOLO model weights
*.pt